/*  ASIDE
/* Form */

/* id = search-form
class = form */

aside {
  background-color: lightblue;
  padding: 10px;
}

/* #search-form {

}
.form {
} */
/* input 
id = search-input */
/* 
.form-input {
} */
/* search-input{
  width: 100%;
} */
/* Button class = btn
 id = search-button */

.w-100 {
  width: 100%!important;
}

#search-button {
margin-top: 5px;
background-color: black;
color: white;
} 


/* hr 
class = hr  */
/* .hr {
}
 */
/* div class = list-group
id = history */

.list-group {
  background-color: rgb(87, 91, 131);
  padding: 10px;
}

.weather-info {
  background-color: lightsteelblue;
  margin: 0;
}



#today .city {
  background-color: lightyellow;
}

#forecast {
  background-color: lightpink;

}

/* .list-group-item{
  font-size: 1rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--light-dark);
  border: none;
  outline: none;
  background-color: var(--primary);
  transform: translate(-1px, -1px);
}

.list-group-item:hover {
  color: var(--primary);
  background-color: var(--light-dark);
  transform: translate(0, 0);
}

.list-group-item-back {
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  transform: translate(-1px, -1px);
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.list-group-item-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
} */

