/*  ASIDE
/* Form */

/* id = search-form
class = form */

aside {
  background-color: lightblue;
  padding: 10px;
}

/* #search-form {

}
.form {
} */
/* input 
id = search-input */
/* 
.form-input {
} */
/* search-input{
  width: 100%;
} */
/* Button class = btn
 id = search-button */

.w-100 {
  width: 100%!important;
}

#search-button {
margin-top: 5px;
background-color: black;
color: white;
} 


/* hr 
class = hr  */
/* .hr {
}
 */
/* div class = list-group
id = history */

.list-group {
  background-color: rgb(87, 91, 131);
  padding: 10px;
}

.weather-info {
  background-color: lightsteelblue;
  margin: 0;
}



#today .city {
  background-color: lightyellow;
}

#forecast {
  background-color: lightpink;

}
